@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  font-family: 'Roboto'; }

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main {
  width: 100%;
  height: 100vh;
  background: black; }

.header__img {
  width: 100%;
  height: 150px;
  background: url("header__img.jpg");
  background-size: cover; }
  .header__img:hover {
    background: url("header__img_ryuk_v2.jpg");
    background-size: cover; }

.header__buttons {
  width: 100%;
  height: 60px;
  background: linear-gradient(30deg, pink, blue);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em; }
  .header__buttons .inicio {
    text-decoration: none;
    color: white;
    background: #21a1e1;
    padding: .5em 1.5em;
    transition: all ease-in-out 0.4s; }
    .header__buttons .inicio:hover {
      background: #1982b6; }

.header__buttons .banderas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em; }
  .header__buttons .banderas .espana,
  .header__buttons .banderas .catalunya,
  .header__buttons .banderas .reino-unido {
    opacity: .75;
    margin: 1em;
    transition: all 0.3s ease-in-out; }
    .header__buttons .banderas .espana:hover,
    .header__buttons .banderas .catalunya:hover,
    .header__buttons .banderas .reino-unido:hover {
      opacity: 1;
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
  .header__buttons .banderas .espana {
    width: 40px;
    height: 25px;
    background: url(../img/espana.png);
    background-size: cover; }
  .header__buttons .banderas .catalunya {
    width: 40px;
    height: 25px;
    background: url(../img/catalunya.png);
    background-size: cover; }
  .header__buttons .banderas .reino-unido {
    width: 40px;
    height: 25px;
    background: url(../img/reino-unido.png);
    background-position: center center;
    background-size: cover; }

form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__titulo {
  color: #fff;
  text-align: center;
  width: 100%;
  background: rgba(33, 161, 225, 0.6);
  padding: 1em;
  font-weight: 100;
  font-size: 32px;
  border-radius: 0.4em; }

section {
  position: relative;
  width: 100%;
  height: 700px;
  background: #204862;
  background: url("fondo__form_v2.jpg");
  background-size: cover; }

.section__form {
  width: 95%;
  max-width: 600px;
  height: 600px;
  margin: auto;
  padding: 1em 2em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.4em; }
  .section__form input {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 0.4em;
    border: 1px solid darkgrey;
    transition: all 0.2s; }
    .section__form input:hover {
      box-shadow: 0 0 0 2px #21a1e1 inset; }
  .section__form .input-48 {
    width: 48%;
    font-size: 15px; }
  .section__form .input-100 {
    width: 100%;
    font-size: 15px; }
  .section__form .btn-enviar {
    margin: auto;
    background: #21a1e1;
    color: #fff;
    border: none;
    display: block;
    padding: 1em 3em;
    cursor: pointer;
    font-size: 18px; }
    .section__form .btn-enviar:active {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }
    .section__form .btn-enviar:hover {
      background: #1982b6;
      transition: all 0.5s; }
  .section__form .link {
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    font-size: 11px;
    margin-top: .5em; }
    .section__form .link:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.footer {
  background: linear-gradient(30deg, pink, blue);
  padding: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px; }

.footer__about,
.footer__social {
  width: 50%;
  min-height: 100%; }

.footer__about {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .footer__about p {
    font-size: 1.1em;
    width: 100%; }

.footer__social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__social a {
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    color: black;
    margin: .5em;
    padding: 1em;
    line-height: 1em;
    font-size: 20px;
    border-radius: 50%;
    transition: all ease-in-out 0.5s; }
  .footer__social .icon-facebook:hover {
    background: #295396;
    color: #fff; }
  .footer__social .icon-twitter:hover {
    background: #2EACF8;
    color: #fff; }
  .footer__social .icon-instagram:hover {
    background: #986954;
    color: #fff; }
  .footer__social .icon-google-plus:hover {
    background: #DC4A38;
    color: #fff; }

@media (max-width: 400px) {
  main {
    height: 1200px; }
  footer {
    height: 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer__about {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    footer .footer__social {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 5em; } }
