<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="zona-privada.css")
	link(href="https://file.myfontastic.com/dm7jDenL4r7N6cNfdgKQsZ/icons.css" rel="stylesheet")
body
	main
		header
			.header__img
			.header__buttons
				a.inicio(href="#") Inicio
				.banderas
					a(href="#" title="Español").__link
						.espana
					a(href="#" title="Catalán").__link
						.catalunya
					a(href="#" title="Inglés").__link
						.reino-unido

		section
			.titulos__container
				h1.propuestas__title Zona Privada - Músico
				h2.propuestas__subtitle Propuestas de conciertos
			.tablas__container
				.propuestas__conciertos
					.propuestas__tabla
						.contenido
							.columna1 Nombre del Local
							.columna2.hover Inscribirse
							.columna3.hover.stado Estado
						.contenido
							.columna1.hover Nombre del Local
							.columna2.hover Inscribirse
							.columna3.hover Estado
						.contenido
							.columna1.hover.local Nombre del Local
							.columna2.hover Inscribirse
							.columna3.hover.stado1 Estado
					.propuestas__img
				h2.inscritos__subtitle CONCIERTOS INSCRITOS
				.conciertos__inscritos
					.inscritos__tabla
						.contenido
							.columna1.local Nombre del local
							.columna2 Inscrito
							.columna3 Estado
							.columna4 Fecha Actuación / Hora
							.columna5 Género musical
							.columna6.dir Dirección local
						.contenido
							.columna1 Nombre del local
							.columna2 Inscrito
							.columna3 Estado
							.columna4 Fecha Actuación / Hora
							.columna5 Género musical
							.columna6 Dirección local
						.contenido
							.columna1.local1 Nombre del local
							.columna2 Inscrito
							.columna3 Estado
							.columna4 Fecha Actuación / Hora
							.columna5 Género musical
							.columna6.dir1 Dirección local
		footer.footer
			.footer__about
				p  &copy Proyecto Transversal 2016.
				p All rights reserved.
			.footer__social
				a.icon.icon-facebook(href="#")
				a.icon.icon-twitter(href="#")
				a.icon.icon-instagram(href="#")
				a.icon.icon-google-plus(href="#")
	