@import url('https://fonts.googleapis.com/css?family=Roboto');

$background-buttons: linear-gradient(
					30deg,
					pink,
					blue);

*{
	box-sizing: border-box;
	font-family: 'Roboto';
}


main {
	width: 100%;
	min-height: 100vh;
	background: url('fondo__form_v2.jpg');
	background-size: cover;
	background-position: center
}


/*** HEADER ***/

.header__img {
	width: 100%;
	height: 150px;
	background: url("header__img.jpg");
	background-size: cover;
}

.header__img:hover {
	background: url("header__img_ryuk_v2.jpg");
	background-size: cover;
}

.header__buttons {
	width: 100%;
	height: 60px;
	padding: 1em;
	background: linear-gradient(30deg, pink, blue);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
}

.header__buttons .inicio {
	text-decoration: none;
	color: white;
	background: #21a1e1;
	padding: .5em 1.5em;
	transition: all ease-in-out 0.4s;

}


.header__buttons .inicio:hover {
	background: darken(#21a1e1, 10%);
}

.header__buttons .banderas {

	display: flex;

	.espana,
	.catalunya,
	.reino-unido{
		margin: 1em;
		transition: all 0.3s ease-in-out;
		opacity: .75;

		&:hover{
			opacity: 1;
			transform: scale(1.3);
		}
		

	}



		.espana,{
			width: 40px;
			height: 25px;
			background: url(../img/espana.png);
			background-size: cover;
		}

		.catalunya,{
			width: 40px;
			height: 25px;
			background: url(../img/catalunya.png);
			background-size: cover;
		}

		.reino-unido,{
			width: 40px;
			height: 25px;
			background: url(../img/reino-unido.png);
			background-position: center center;
			background-size: cover;
		}
}



/*** footer *****/

.footer{
	background: linear-gradient(30deg, pink, blue);
	padding: 1em;
	display: flex;
	min-height: 150px;
}

	.footer__about, 
	.footer__social{
		width: 50%;
		min-height: 100%;
	}

	.footer__about{
		display: flex;
		text-align: center;
		flex-wrap: wrap;
		align-content: center;

		p{
			font-size: 1.1em;
			width: 100%;
		}
	}

	.footer__social{
		display: flex;
		justify-content: center;
		align-items: center;

		a{
			background: rgba(white, .8);
			text-decoration: none;
			color: black;
			margin: .5em;
			padding: 1em;
			line-height: 1em;
			font-size: 20px;
			border-radius: 50%;
			transition: all ease-in-out 0.5s;
		}

		.icon-facebook:hover{
		 background: #295396;
		 color: #fff;
		 }
		.icon-twitter:hover{
			background: #2EACF8;
			color: #fff;
			}
		.icon-instagram:hover{
			background: #986954;
			color: #fff;
			}
		.icon-google-plus:hover{
			background: #DC4A38;
			color: #fff;
			}
	}

// @media (max-width: 400px){

//   main{
//     height: 1200px;
//   }

//   footer{
//     height: 300px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     .footer__about{
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }


//     .footer__social{
//       width: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       margin-right: 2em;

//     }
		

		
//   }
// }